body {
    background-color: black;
}
.Pierre {
    font-family: "Oswald";
    font-size: 40px;
    color: white;
}
.Fansy {
    color: white;
    font-family: "Sonsie One";
    font-size: 35px;
    margin-bottom: 40px;
}
h1 {
    padding-left: 30px;
    padding-top: 20px;
}
main {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: (4, 1fr);
}
.box {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 50px 200px;
}
.header {
    grid-row: span 1;
    grid-column: span 1;
}
.img {
    grid-row: span 1;
    grid-column: span 1;
}