body {
    background-color: black;
}
.Pierre {
    font-family: "Oswald";
    font-size: 40px;
    color: white;
}
.Fansy {
    color: white;
    font-family: "Sonsie One";
    font-size: 35px;
    margin-bottom: 40px;
}
h1 {
    padding-left: 30px;
    padding-top: 20px;
}
main {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: (8, 1fr);
}
.box {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 50px auto;
    margin-left: 10px;
    margin-right: 10px;
}

.header {
    font-family: EB Garamond;
    border-bottom: dotted black 5px;
    background-color: white;
    font-size: 20px;
    padding-top: 10px;
    padding-left: 20px;
    width: 580px;
}
.img {
    height: 300px;
}