body {
    background-color: rgb(59, 28, 30);
    margin: 2em;
}
header {
    color: white;
    font-family: "Source Sans Pro";
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 10px;
}
main {
    display: grid;
    grid-template-columns: 45% 55%;
    position: relative;
    justify-content: center;
    grid-gap: 10px;
}
.happy {
    font-family: "Montserrat";
    font-size: 60px;
    background-color: red;
    color: white;
    font-weight: bold;
    padding-top: 150px;
    overflow-wrap: break-word;
    padding-left: 30px;
    line-height: 1.75;
    grid-row: span 2;
}
.lorem {
    background-color: rgb(48, 158, 140);
    font-family: "Source Sans Pro";
    color: white;
    font-size: 25px;
    line-height: 2;
    font-weight: bold;
    overflow-wrap: break-word;
    padding-left: 30px;
    padding-top: 10px;
    grid-row: span 2;
}
.tie {
    grid-column: span 2;
    overflow: hidden;
    width: 100%;
    grid-row: span 1;
    object-fit: fill;
}

.moped {
    object-fit: fill;
    grid-column: span 2;
}
.sax, .flower, .light, #forty {
    visibility: hidden;
}
.sign {
    object-fit: fill;
    grid-row: span 2;
    
    overflow: hidden;
}
#sign {
    height: 500px;
}
#moped {
    overflow: hidden;
    width: 100%;
}
