body {
    background-color: rgb(100, 100, 100);
}
header {
    font-family: 'Sonsie One';
    font-size: 30px;
    color: white;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
main {
    display: grid;
    grid-template-areas: 
    
    ".b" ".c"
    ".d" ".e"
    ".f" ".g"
    ".h" ".i"
    ".j";
    justify-content: center;
    grid-gap: 5px;
    margin: 50px auto;
}
img {
    border-radius: 25px;
    height: 100px;
    width: 200px;
}
.a {
    justify-self: center;
    grid-column: span 2;
}
@media only screen and (min-width: 768px)
and (max-width: 1366px) {
    main {
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        grid-template-rows: repeat(4, 1fr);
        align-items: center;
        justify-items: center;
    }
    img {
        grid-column: span 2;
    }
    div {
        grid-column: span 2;
    }
    .empty {
        grid-column: span 1;
    }
}
@media only screen and (min-width: 1366px){
    main {
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: repeat(5, 1fr);
    }
    .a {
        justify-self: left;
        grid-column: span 1;
    }
}